@import "tailwindcss";

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.page-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  /* border: 1px solid red; */
  color: white;
  /* background-color: darkblue; */
}

a {
  color: white;
}

a:hover {
  color: gold;
}

.hamburger {
  background-color: darkblue;
}
